force-app/main/default/flows/Credit_Registration_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Confirmation_Event</name>
        <label>Create Confirmation Event</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>CreditConfirmedEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bannerStatus</name>
            <value>
                <elementReference>CourseEnrollmentToTrack.Banner_Status__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>offeringReference</name>
            <value>
                <elementReference>CourseEnrollmentToTrack.Offering_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>CourseEnrollmentToTrack.hed__Status__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>CourseEnrollmentToTrack.Contact_CSU_ID__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Initial_State_from_Middleware</name>
        <label>Get State from Middleware</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>CheckEnrollmentStatusViaMiddleware</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_for_Valid_Registration</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enrollments</name>
            <value>
                <elementReference>CourseEnrollmentToTrack</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CourseEnrollmentToTrack</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>NOOP</name>
        <label>NOOP</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CourseEnrollmentToTrack.Banner_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationEvent.Banner_Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Valid_Registration_to_Track</name>
        <label>Valid Registration to Track?</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Invalid Registration</defaultConnectorLabel>
        <rules>
            <name>Credit_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CourseEnrollmentToTrack.hed__Course_Offering__r.Is_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CourseEnrollmentToTrack.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_State_from_Middleware</targetReference>
            </connector>
            <label>Valid Credit Registration</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ValidBannerRegistration</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!CourseEnrollmentToTrack.hed__Status__c}, &apos;RE&apos;)||ISPICKVAL({!CourseEnrollmentToTrack.hed__Status__c}, &apos;RW&apos;)||ISPICKVAL({!CourseEnrollmentToTrack.hed__Status__c}, &apos;AU&apos;)||ISPICKVAL({!CourseEnrollmentToTrack.hed__Status__c}, &apos;RD&apos;)||ISPICKVAL({!CourseEnrollmentToTrack.hed__Status__c}, &apos;NG&apos;)||ISPICKVAL({!CourseEnrollmentToTrack.hed__Status__c}, &apos;XE&apos;)||ISPICKVAL({!CourseEnrollmentToTrack.hed__Status__c}, &apos;RS&apos;)</expression>
    </formulas>
    <interviewLabel>Credit Registration [{!CourseEnrollmentToTrack.Offering_Reference__c}, {!CourseEnrollmentToTrack.hed__Contact__r.Front_Door_ID__c}]</interviewLabel>
    <label>Credit Registration Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valid_Registration_to_Track</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConfirmationEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Confirmation_Publish__e</objectType>
    </variables>
    <variables>
        <name>CourseEnrollmentToTrack</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <waits>
        <name>Wait_for_Valid_Registration</name>
        <label>Wait for Valid Registration</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Confirmation_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOOP</defaultConnectorLabel>
        <waitEvents>
            <name>Confirmation_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidBannerRegistration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOOP</targetReference>
            </connector>
            <eventType>csuoee__Confirmation_Publish__e</eventType>
            <inputParameters>
                <name>csuoee__Is_Credit__c</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__Section_Reference__c</name>
                <value>
                    <elementReference>CourseEnrollmentToTrack.Offering_Reference__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__User_Id__c</name>
                <value>
                    <elementReference>CourseEnrollmentToTrack.Contact_CSU_ID__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__Status_Detail__c</name>
                <value>
                    <stringValue>Enrolled</stringValue>
                </value>
            </inputParameters>
            <label>Confirmation Received</label>
            <outputParameters>
                <assignToReference>ConfirmationEvent</assignToReference>
                <name>csuoee__Confirmation_Publish__e</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>Wait_For_Retry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidBannerRegistration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Initial_State_from_Middleware</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait For Retry</label>
        </waitEvents>
    </waits>
</Flow>
