force-app/main/default/flows/Process_Credit_Term_Publish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Credit_Term_RecordType</name>
        <label>Get Credit Term RecordType</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>CreditRecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Credit_Term</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Term</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_CSU_Institution_Account</name>
        <label>Get CSU Institution Account</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <actionName>AccountRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Term</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>Get_Institution_RecordType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schoolCode</name>
            <value>
                <stringValue>Colorado State University-Fort Collins</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Institution_RecordType</name>
        <label>Get Institution RecordType</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <actionName>CreditRecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_CSU_Institution_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Educational Institution</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Does_Term_Exist</name>
        <label>Does Term Exist?</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Term Exists</defaultConnectorLabel>
        <rules>
            <name>Term_Requires_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Term.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Institution_RecordType</targetReference>
            </connector>
            <label>Term Requires Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Credit</name>
        <label>Is Credit?</label>
        <locationX>380</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Noncredit</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Is_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Term_RecordType</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TermNameToReference</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.csuoee__Term_Name__c}, FIND(&apos; &apos;, {!$Record.csuoee__Term_Name__c})-3)&amp;CASE(LEFT({!$Record.csuoee__Term_Name__c}, FIND(&apos; &apos;, {!$Record.csuoee__Term_Name__c})), &apos;Spring &apos;, &apos;SP&apos;, &apos;Summer &apos;, &apos;SM&apos;, &apos;FA&apos;)&amp;&apos;-NCT&apos;</expression>
    </formulas>
    <interviewLabel>Process Credit Term Publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Credit Term Publish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Term</name>
        <label>Create Term</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <inputAssignments>
            <field>Display_Order__c</field>
            <value>
                <elementReference>$Record.Term_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Visible__c</field>
            <value>
                <elementReference>$Record.Is_Visible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Term_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programming_Active__c</field>
            <value>
                <elementReference>$Record.Is_Active__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Credit_Term_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>Get_CSU_Institution_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Type__c</field>
            <value>
                <stringValue>Semester</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <value>
                <elementReference>TermNameToReference</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Credit_Term</name>
        <label>Get Credit Term</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Term_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TermNameToReference</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Term</name>
        <label>Update Term</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Term.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Display_Order__c</field>
            <value>
                <elementReference>$Record.Term_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Visible__c</field>
            <value>
                <elementReference>$Record.Is_Visible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programming_Active__c</field>
            <value>
                <elementReference>$Record.Is_Active__c</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Term__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Credit</targetReference>
        </connector>
        <object>Term_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
</Flow>
