force-app/main/default/flows/Process_Credit_Student_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Pending_Enrollment_RecordType</name>
        <label>Get Pending Enrollment RecordType</label>
        <locationX>182</locationX>
        <locationY>818</locationY>
        <actionName>CreditRecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Pending_Enrollment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Student Pending</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PendingRecordType</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Handle_Student_Credit_Enrollment</name>
        <label>Handle Student Credit Enrollment</label>
        <locationX>446</locationX>
        <locationY>386</locationY>
        <actionName>CreditHandleEnrollments</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isDrop</name>
            <value>
                <elementReference>$Record.Is_Drop__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>offeringReference</name>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusInfo</name>
            <value>
                <elementReference>$Record.Status_Detail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Connection_exists</name>
        <label>Connection exists?</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Get_Pending_Enrollment_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Connection Missing</defaultConnectorLabel>
        <rules>
            <name>Connection_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Course_Connection.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Connection Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Credit</name>
        <label>Is Credit?</label>
        <locationX>479</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>PE</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Is_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Pending</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Pending</name>
        <label>Is it Pending?</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Handle_Student_Credit_Enrollment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Enrollment</defaultConnectorLabel>
        <rules>
            <name>Request_is_in_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Status_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Offering</targetReference>
            </connector>
            <label>Request is in Pending</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Process Credit Student Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Credit Student Enrollment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Pending_Enrollment</name>
        <label>Create Pending Enrollment</label>
        <locationX>182</locationX>
        <locationY>926</locationY>
        <inputAssignments>
            <field>Credit_Registration_Email_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PendingRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>Get_Contact_by_CSU_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <elementReference>Lookup_Offering.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Verification_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_by_CSU_ID</name>
        <label>Get Contact by CSU ID or Front Door</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Course_Connection</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CSU_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Front_Door_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Course_Connection</name>
        <label>Lookup Course Connection</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Connection_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_by_CSU_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Offering.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Offering</name>
        <label>Lookup Offering</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_by_CSU_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Credit</targetReference>
        </connector>
        <object>Confirmation_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PendingRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
