force-app/main/default/flows/Process_Credit_Section_Publish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Credit_Term_RecordType</name>
        <label>Get Credit Term RecordType</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <actionName>CreditRecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Term</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Term</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreditTermRecordType</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Course_Offering_Fields</name>
        <label>Set Course Offering Fields</label>
        <locationX>578</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Section_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Section_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IfPresentFacilityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Faculty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IfPresentFacultyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.Subledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subledger__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.Requires_Canvas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requires_Canvas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.lms_hed__LMS_Reference_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Offering</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CanvasFacilityName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canvas</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreditRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit</stringValue>
        </value>
    </constants>
    <constants>
        <name>OnlineCampusCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_or_Update_Check</name>
        <label>Create or Update Check</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Set_Course_Offering_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Requires_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Offering.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Course_Offering</targetReference>
            </connector>
            <label>Requires Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Course_Credit</name>
        <label>Is this Course Credit?</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Noncredit</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreditRecordTypeDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Term_RecordType</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
    </decisions>
    <decisions>
        <description>MC code implies Canvas - don&apos;t need to look anything else.</description>
        <name>Lookup_Delivery_By_Campus_Code</name>
        <label>Lookup Delivery By Campus Code</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Lookup_Faculty_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>MC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Campus_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OnlineCampusCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Canvas_Facility</targetReference>
            </connector>
            <label>MC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConcatenateCourseOfferingID</name>
        <dataType>String</dataType>
        <expression>{!$Record.csuoee__Course_Code__c}&amp;&apos; &apos;&amp;{!$Record.csuoee__Section_Number__c}</expression>
    </formulas>
    <formulas>
        <name>IfPresentFacilityId</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!FacilityId}) == 0,{!Get_Course_Offering.hed__Facility__c},{!FacilityId})</expression>
    </formulas>
    <formulas>
        <name>IfPresentFacultyId</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!FacultyId}) == 0,{!Get_Course_Offering.hed__Faculty__c},{!FacultyId})</expression>
    </formulas>
    <interviewLabel>Process Credit Section Publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Credit Section Publish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Course_Offering</name>
        <label>Create Course Offering</label>
        <locationX>50</locationX>
        <locationY>1226</locationY>
        <faultConnector>
            <targetReference>Create_Section_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ConcatenateCourseOfferingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Canvas__c</field>
            <value>
                <elementReference>$Record.Requires_Canvas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subledger__c</field>
            <value>
                <elementReference>$Record.Subledger__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course__c</field>
            <value>
                <elementReference>Get_Course.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Facility__c</field>
            <value>
                <elementReference>FacilityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Faculty__c</field>
            <value>
                <elementReference>FacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Term__c</field>
            <value>
                <elementReference>Get_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Section_Create_Error</name>
        <label>Create Section Create Error</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to create Course Offering.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course_Offering__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Section_Update_Error</name>
        <label>Create Section Update Error</label>
        <locationX>842</locationX>
        <locationY>1442</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to update Course Offering.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course_Offering__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Canvas_Facility</name>
        <label>Get Canvas Facility</label>
        <locationX>182</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Faculty_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CanvasFacilityName</elementReference>
            </value>
        </filters>
        <object>hed__Facility__c</object>
        <outputAssignments>
            <assignToReference>FacilityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>710</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_Course_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Offering</name>
        <label>Get Course Offering</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Delivery_By_Campus_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Section_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Section_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Term.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term</name>
        <label>Get Term</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Course_Offering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.Term_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditTermRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Faculty_Contact</name>
        <label>Lookup Faculty Contact</label>
        <locationX>314</locationX>
        <locationY>1010</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSU_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Faculty_ID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FacultyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Offering</name>
        <label>Update Course Offering</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <faultConnector>
            <targetReference>Create_Section_Update_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Course_Offering</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course</targetReference>
        </connector>
        <object>Section_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreditTermRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>FacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacultyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
