force-app/main/default/flows/Process_Credit_Student_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_Student_Credit_Enrollment</name>
        <label>Handle Student Credit Enrollment</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <actionName>CreditHandleEnrollments</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isDrop</name>
            <value>
                <elementReference>$Record.Is_Drop__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>offeringReference</name>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Credit</name>
        <label>Is Credit?</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>PE</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Is_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Student_Credit_Enrollment</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Process Credit Student Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Credit Student Enrollment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Credit</targetReference>
        </connector>
        <object>Confirmation_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
