force-app/main/default/flows/Select_Academic_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Selected_Object</name>
        <label>Get Selected Object</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>GetSObjectByIdFromCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>hed__Program_Plan__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>hed__Program_Plan__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Program_Plan_Choice.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Plans</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetSObjectByIdFromCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <description>If no plan selected - create a new plan with some defaults.</description>
        <name>Selected_Program_or_New</name>
        <label>Selected Plan or New?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No Plan</defaultConnectorLabel>
        <rules>
            <name>Plan_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Program_Plan_Choice.selectedChoiceValues</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Object</targetReference>
            </connector>
            <label>Plan Selected</label>
        </rules>
    </decisions>
    <description>Flow to select a Program Plan given an Academic Program</description>
    <dynamicChoiceSets>
        <description>Choice Set to wrap the Plan Collection.</description>
        <name>Plan_Choice</name>
        <collectionReference>Plans</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>hed__Program_Plan__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Select Plan for {!Program.Name}</interviewLabel>
    <label>Select Academic Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Active Program Plans for Program.</description>
        <name>Pull_Program_Plans</name>
        <label>Pull Program Plans</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Program_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program.Id</elementReference>
            </value>
        </filters>
        <object>hed__Program_Plan__c</object>
        <outputReference>Plans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>hed__Is_Primary__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Screen to select one of the available Program Plans.</description>
        <name>Choose_Program_Plan</name>
        <label>Choose Program Plan</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Program_or_New</targetReference>
        </connector>
        <fields>
            <name>Program_Plan_Choice</name>
            <choiceReferences>Plan_Choice</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Program Plan Choice</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Plan or Create New by Selecting None</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pull_Program_Plans</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The Program Plan selected to work on.</description>
        <name>Plan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Program_Plan__c</objectType>
    </variables>
    <variables>
        <description>The Program Plans to choose from.</description>
        <name>Plans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Plan__c</objectType>
    </variables>
    <variables>
        <description>The Program to view Plans for.</description>
        <name>Program</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
