force-app/main/default/flows/Select_Academic_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Are_there_any_existing_plans</name>
        <label>Are there any existing plans?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>IsCollectionEmpty</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Defaults_for_New_Program</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobjectLists</typeName>
            <typeValue>hed__Program_Plan__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sobjectLists</name>
            <value>
                <elementReference>Plans</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IsCollectionEmpty</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Grab_Selected_Plan</name>
        <label>Grab Selected Plan</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>GetSObjectByIdFromCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>hed__Program_Plan__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>hed__Program_Plan__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Select_Plan_to_Manage.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Plans</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetSObjectByIdFromCollection</nameSegment>
        <outputParameters>
            <assignToReference>Plan</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Defaults_for_New_Program</name>
        <label>Set Defaults for New Program</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Plan.hed__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultProgramPlanName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plan.hed__Is_Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsPlansEmpty</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Was_Plan_Selected</name>
        <label>Was Plan Selected?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Are_there_any_existing_plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Plan Not Selected</defaultConnectorLabel>
        <rules>
            <name>Plan_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Plan_to_Manage.selectedChoiceValues</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grab_Selected_Plan</targetReference>
            </connector>
            <label>Plan Selected</label>
        </rules>
    </decisions>
    <description>Flow to select a Program Plan given an Academic Program</description>
    <dynamicChoiceSets>
        <description>Wraps the Plans Variable.</description>
        <name>PlanChoices</name>
        <collectionReference>Plans</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>hed__Program_Plan__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>AccountName Overview</description>
        <name>DefaultProgramPlanName</name>
        <dataType>String</dataType>
        <expression>{!Program.Name}&amp;&apos; Overview&apos;</expression>
    </formulas>
    <interviewLabel>Select Plan for {!Program.Name}</interviewLabel>
    <label>Select Academic Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Look up plans for program.</description>
        <name>Pull_Program_Plans</name>
        <label>Pull Program Plans</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Plans_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program.Id</elementReference>
            </value>
        </filters>
        <object>hed__Program_Plan__c</object>
        <outputReference>Plans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>hed__Is_Primary__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Program_Plans_Display</name>
        <label>Program Plans Display</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Plan_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_Plan_to_Manage</name>
            <choiceReferences>PlanChoices</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Plan to Manage</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select a Plan or choose none to create new.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pull_Program_Plans</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>IsPlansEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Are_there_any_existing_plans</elementReference>
        </value>
    </variables>
    <variables>
        <description>Selected Plan to return.</description>
        <name>Plan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Program_Plan__c</objectType>
    </variables>
    <variables>
        <description>Plans on the Program.</description>
        <name>Plans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Plan__c</objectType>
    </variables>
    <variables>
        <description>The Program to select a plan for.</description>
        <name>Program</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
